@media only screen and (max-width:1024px) {
   /* responsive-header */
  .section-header  {
    width: 100%;
    padding: 0;
    background-size: 100% 100%;
   height: 700px;
  }
  .logo-header img{
   width: 70%;
   height: 70%;
}
  .vector-section-header img{
   width: 50%;
   height: 50%;  
}
  .contact-header .button-contact-header{
     background-image: linear-gradient(#FF8D4E, #FF5544);
     color:#ffff;
     width: 140px;
     height:40px;
     border:1px solid #ffff;
     border-radius: 30px;
     text-align: center;
     gap:4px;
     box-shadow: 8px 8px 16px 0 #cccc;
     font-size: 14px;
   }
   .list-header ul {
      list-style: none;
      padding: 0;
      margin: 0 7px ;
    }
    
    .list-header li {
      display: inline-block;
      margin-right: 3px;
      line-height: 15px;
    }
    
    .list-header a {
      text-decoration: none;
      font-size: 13px;
      text-align: center;
   
    }

   .main-text-slide-header {
      line-height: 50px;
      font-size: 40px;
      margin-top: 5%;
   }
   
   .main-text-blue-slide-header {
      line-height: 90px;
      font-size: 60px;
   }
   
    .text-slide-header{
      width:20%;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
    }
    .button-section-header {
      display:block;
    }

}

 @media only screen and (max-width:800px) {
    /* responsive-header */
   .section-header  {
     width: 100%;
     padding: 0;
     background-size: 100% 100%;
      height: 550px;
   }
   .list-header ul {
      display:none;
    }
    .bars-header {
      display: block;
      color:#00174D;
      font-size: 25px;
      margin-left: 20%;
   }

   .vector-section-header img{
      width: 35%;
      height: 35%;  
   }
   .contact-header .button-contact-header{
      display:none
    }
    .main-text-slide-header {
      line-height: 40px;
      font-size: 35px;
      margin-top: 5%;
   }
   
   .main-text-blue-slide-header {
      line-height: 80px;
      font-size: 55px;
   }
   
    .text-slide-header{
      width:20%;
      font-size: 12px;
      line-height: 15px;
      text-align: justify;
    }
 
     /* css-section-introduce */
     .content-section-introduce {
      display: block;
     }
     .section-introduce {
      background-image: url("./img/Union.png");
      width: 100%;
      height: 950px;
      position: absolute;
      top: 63%;
      z-index: 1;
   }
   .section2-introduce {
      background-image: url("./img/Noise\ &\ Texture.png");
      background-size: 100% 100%;
      width: 100%;
      height: 950px;
      position: absolute;
      top: 15%;
      z-index: 1;
   }

 }
 @media only screen and (max-width:500px) {
   /* responsive-header */
   .section-header {
     width: 100%;
   }
   .list-header ul {
      display:none;
    }
    .bars-header {
      display: block;
      color:#00174D;
      font-size: 25px;
   }
    .logo-header img{
      width: 70%;
      height: 70%;
   }
   .contact-header .button-contact-header{
      display:none
    }
 }
 