@media only screen and (max-width:1024px) {

/* responsive-header */
header {
  height: 700px;
  padding: 0 7px;
}
.logo-header img {
  width: 85%;
}
.list-header ul {
  margin: 0 2px ;
}
.list-header li {
  margin-right: 7px;
  line-height: 20px;
}
.list-header a {
  font-size: 12px;
}
.contact-header .button-contact-header{
   width: 160px;
   height:37px;
   border-radius: 27px;
   font-size: 13px;
  }
 .main-text-slide-header {
   line-height: 45px;
   font-size: 2.5em;
   margin-top: 5%;
}
.main-text-blue-slide-header {
   line-height: 80px;
   font-size: 3.1em;
}
 .text-slide-header{
   font-size: 13.5px;
   line-height: 20px;
 }
 .vector-section-header img {
   width: 75%;
 }
 .button-section-header {
   border:1px solid #ffff;
   height:37px;
   border-radius: 20px;
   box-shadow: 4px 4px 8px 0 #cccc;
   font-size: 12.5px;
   margin-top: 15%;
 }
 .button-watchvideo {
   height:30px;
 }

  /* css-section-introduce */

  .button-statistical-content-introduce button{
   height:35px;
   border-radius: 20px;
   font-size: 13px;
}
 .section-introduce {
   background-size: 100% 100%;
   margin-top: -13%;
   height: auto;
 }

 .section2-introduce {
  height:  auto;
}

.img-content{
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 7px;
}

.title-section-introduce h2{
 font-size: 2.5em;
 padding-top: 70px;
}
.title-section-introduce p {
   font-size: 1em;
   margin-top: 10px;
}
.content-section-introduce {
 margin-top: 5px;
 margin: 1.5em;
}
.content-introduce .title-content-introduce h4{
font-size: 1em;
line-height: 25px;
width: 85%;
}
.content-introduce .title-content-introduce p{
font-size: 0.5em;
line-height: 15px;
padding: 10px 0;
width: 80%;
}
.content-introduce .title-content-introduce {
  margin-bottom: 0;
}
.content-introduce {
  margin-left: 15px;

}
.item-statistical-content-introduce {
width: 80%;
}
.item-statistical-content-introduce span{
font-size: 22px;
line-height: 35px;
padding: 5px 5px 5px 0;
width: 30%;
font-weight:900;
}
.item-statistical-content-introduce p{
font-size:0.5em;
line-height: 15px;
padding: 10px 10px 10px 0;
width: 70%;
}

/* css-section-reason */

.box-reason{
  width: 10em;
  height: 10em;
}
.box-reason svg {
  font-size: 2em;
}
.box-reason p {
  font-size: 0.8em;
}


/* css-section-course */

.section-course {
  margin-top: 20%;
}

.title-section-course h2 {
width: 100%;
margin-bottom: 50px;
font-size: 2.5em;
}
.section-course .box-section-course {
display:grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 20px; 
grid-row-gap: 20px; 
}

/* css-section-featuredCourse */
.title-section-featuredCourse h2 {
font-size:2.5em;
}

.section-featuredCourse .box-section-featuredCourse {
display:grid;
grid-template-columns: 1fr 1fr;
gap:35px;
}
.button-section-featuredCourse button{
border-radius: 20px;
box-shadow: 4px 4px 8px 0 #cccc;
font-size: 14px;
}

/* css-banner2-section */
.section-banner2 img {
max-width: 90%;
}

/* css-section-teacher */
.section-teacher {
height: auto;
margin-top: -15%;
}
.section-teacher2 {
height: auto;
top: 20%;
}
.title-section-teacher {
padding-top: 100px;
}
.item-img-section-teacher p {
  padding: 0.8em 0;
  margin-bottom: -30.5%;
}

.slide-img-section-teacher svg {
  font-size: 0.6em;
}

.box-news-section-teacher {
  display: block;
  width: 80%;
  margin: 0 8em;
}
.item-box-news-section-teacher {
  max-width: 90%;
  border-radius: 20px;
  margin-bottom: 1em;
}

.item-img-section-teacher img {
height: 12em;
}
.button-section-teacher {
  padding-bottom: 2em;
}
/* css-section-student */
.assess-item2-box-section-student {
  height: 22em;
}

/* css-section-center */
.section-center .box-section-center {
  display: block;
}
.item-box-section-center {
  width: 90%;
  margin: 1em 3em; 
}
.img-box-section-center img {
  margin: 1em 3em; 
}
.opacity-item2-box-section-center {
  margin-top: -25%;
}

/* css-section-question */
.box-section-question {
  display: block;
}
.img-box-section-question img {
  display: none;
}
.item-box-section-question {
  width: 80%;
  margin: 0 12%;
}
/* css-footer */
footer {
  height: auto;
  margin-top: 5%;
}
.background-footer {
  height: auto;

}
.logo-footer img {
  margin-top: 2em;
}
.text-footer p {
  padding: 1em 15%;
  font-size: 12px;
  }
  .box-footer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1em; 
    grid-row-gap: 1em; 
    padding-bottom: 1.5em;
 }
 .box-footer .item-box-footer h4{
  font-size: 13px;
}
.box-footer .item-box-footer p{
  font-size: 11px;
}
 .list-footer .list-card-footer {
  width:80%;
}
.list-footer a {
  font-size: 11px;
}

}

 @media only screen and (max-width:768px) {

/* responsive-header */
header {
  height: 650px;
}
.list-header ul {
   display:none;
 }
 .bars-header {
   display: block;
   color:#00174D;
   font-size: 25px;
   margin-left: 2em;
}
 .logo-header img{
   width: 85%;
   height: 85%;
}
.contact-header .button-contact-header{
   display:none
 }
 .main-text-slide-header {
   line-height: 20px;
   font-size: 1.9em;
   margin-top: 5%;
}

.main-text-blue-slide-header {
   line-height: 60px;
   font-size: 2.5em;
}
 .text-slide-header{
   font-size: 11px;
   line-height: 14px;
 }
 .vector-section-header img {
   width: 55%;
 }
 .button-section-header {
   border:1px solid #ffff;
   height:32px;
   border-radius: 20px;
   display: block;
   box-shadow: 4px 4px 8px 0 #cccc;
   font-size: 10px;
   margin-top: 15%;
 }
 .button-watchvideo {
   height:28px;
 }

  /* css-section-introduce */

  .button-statistical-content-introduce button{
   height:32px;
   border-radius: 20px;
   font-size: 12px;
}
 .section-introduce {
   background-size: 100% 100%;
   margin-top: -17%;
   height: auto;
 }
 .section2-introduce {
   height:  auto;
}

.title-section-introduce h2{
 font-size: 2em;
 padding-top: 50px;
}
.title-section-introduce p {
   font-size: 0.9em;
   margin-top: 12px;
}
.content-section-introduce {
 display: block;
 margin-top: 20px;
 margin: 2em 10em;
}
.img-content{
display: block;
}
.content-introduce .title-content-introduce h4{
font-size: 1.5em;
line-height: 40px;
width: 100%;
}
.content-introduce .title-content-introduce p{
font-size: 0.9em;
line-height: 22px;
padding: 10px 0;
width: 100%;
}
.item-statistical-content-introduce {
width: 100%;
}
.item-statistical-content-introduce span{
font-size: 24px;
line-height: 35px;
padding: 5px 5px 5px 0;
width: 30%;
font-weight:900;
}
.item-statistical-content-introduce p{
font-size:0.9em;
line-height: 20px;
padding: 10px 10px 10px 0;
width: 70%;
}

/* css-section-reason */



/* css-section-course */
.title h2 {
width: 100%;
margin-bottom: 25px;
font-size: 2em;
}

.section-course .box-section-course {
display:grid;
grid-template-columns: 1fr 1fr;
gap:35px;
}

/* css-section-featuredCourse */

.section-featuredCourse .box-section-featuredCourse {
display:grid;
grid-template-columns: 1fr;
gap:35px;
}
.button-section-featuredCourse button{
border-radius: 20px;
box-shadow: 4px 4px 8px 0 #cccc;
font-size: 12px;
}

/* css-banner2-section */
.section-banner2 img {
max-width: 90%;
}

/* css-section-teacher */
.section-teacher {
height: auto;
margin-top: -20%;
}

.section-teacher2 {
height: auto;
top: 15%;
}
.title-section-teacher {
padding-top: 26%;
}
.img-section-teacher {
  display: block;
}

.item-img-section-teacher {
  display: block;
  border-radius: 1.5em ;
  height: 22em;
  margin:2em 9em;
  width: 55%;
  margin-bottom: 5em;

}
.item-img-section-teacher img {
  max-width: 100%;
  height: 20em;
}

.box-news-section-teacher {
  margin: 0.5em 7em;
}

/* css-section-student */
.box-section-student {
  display: block;
}
.item-box-section-student {
  margin: 2em 4em;
  width: 80%;
}
.item2-box-section-student {
  width: 100%;
}
.assess-item2-box-section-student {
  width: 80%;
  height: 18em;
  top: 15%;
  left: 10%;
}

/* css-section-center */
.item-box-section-center {
  margin: 1em 2em; 
}
.img-box-section-center img {
  margin: 1em 2em; 
}
.opacity-item2-box-section-center {
  margin-top: -30%;
}
/* css-section-question */
.item-box-section-question {
  width: 95%;
  margin: 0 6%;
}

/* css-footer */

 }

 @media only screen and (max-width:500px) {
   /* responsive-header */
   header {
     height: 550px;
   }
   .list-header ul {
      display:none;
    }
    .bars-header {
      display: block;
      color:#00174D;
      font-size: 25px;
   }
    .logo-header img{
      width: 70%;
      height: 70%;
   }
   .contact-header .button-contact-header{
      display:none
    }
    .main-text-slide-header {
      line-height: 20px;
      font-size: 1.5em;
      margin-top: 5%;
   }
   
   .main-text-blue-slide-header {
      line-height: 60px;
      font-size: 2em;
   }
    .text-slide-header{
      font-size: 9px;
      line-height: 14px;
    }
    .vector-section-header img {
      width: 40%;
    }
    
    .button-section-header {
      height:25px;
      border:1px solid #ffff;
      border-radius: 10px;
      display: block;
      box-shadow: 4px 4px 8px 0 #cccc;
      font-size: 8px;
      margin-top: 15%;
    }
    .button-watchvideo {
      height:25px;
    }

     /* css-section-introduce */

     .button-statistical-content-introduce button{
      width: 80px;
      height:25px;
      border:1px solid #ffff;
      border-radius: 10px;
      gap:4px;
      box-shadow: 4px 4px 8px 0 #0000;
      font-size: 8px;
   }
    .section-introduce {
      background-size: 100% 100%;
      margin-top: -25%;
      height: auto;
    }
    .section2-introduce {
      height:  auto;
   }
  .title h2{
    font-size: 1.7em;
    padding-top: 25px;
  }
  .title-section-introduce p {
      font-size: 0.7em;
      margin-top: 8px;
  }
  .content-section-introduce {
    display: block;
    margin-top: 10px;
    margin: 1em 2.5em;
 }
 .img-content{
  display: block;
}
.content-introduce .title-content-introduce h4{
  font-size: 1em;
  line-height: 20px;
  width: 100%;
}
.content-introduce .title-content-introduce p{
  font-size: 0.7em;
  line-height: 18px;
  padding: 10px 0;
  width: 90%;
}
.item-statistical-content-introduce {
  max-width: 90%;
}
.item-statistical-content-introduce span{
  font-size: 20px;
  line-height: 35px;
  padding: 5px 5px 5px 0;
  width: 30%;
  font-weight:900;
}
.item-statistical-content-introduce p{
  font-size:0.7em;
  line-height: 20px;
  padding: 10px 10px 10px 0;
  width: 70%;
}

 /* css-section-reason */


/* css-section-course */

.section-course .box-section-course {
  display:grid;
   grid-template-columns: 1fr;
   gap:35px;
}

/* css-section-featuredCourse */

.section-featuredCourse .box-section-featuredCourse {
  display:grid;
   grid-template-columns: 1fr;
   gap:35px;
}
.button-section-featuredCourse button{
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0 #cccc;
  font-size: 12px;
}

/* css-banner2-section */
.section-banner2 img {
  max-width: 90%;
}

/* css-section-teacher */
.section-teacher {
  height: auto;
  margin-top: -20%;
}
.section-teacher2 {
  height: auto;
  top: 10%;
}
.title-section-teacher {
  padding-top: 120px;
}
.item-img-section-teacher {
  border-radius: 1em ;
  height: 20.7em;
  margin:1.5em 6.5em;
  margin-bottom: 5em;
}
.slide-img-section-teacher svg {
  font-size: 0.5em;
}
.box-news-section-teacher {
  margin: 0.5em 4em;
}
.item-img-section-teacher img {
  height: 18.7em;
}
/* css-section-student */
.box-section-student {
  display: block;
}
.item-box-section-student {
  margin: 2em;
  width: 80%;
}
.assess-item2-box-section-student {
  width: 80%;
  height: 23em;
}

/* css-section-center */
.item-box-section-center {
  margin: 1.3em; 
}
.img-box-section-center img {
  margin-left: 1.3em;
}
.opacity-item2-box-section-center {
  margin-top: -50%;
}
/* css-section-question */
.item-blue-box-section-question {
  width: 93%;
  height: 15em;
  margin: 0;

}
.text-item-blue-box-section-question p {
  line-height: 24px;
  font-size: 13.5px;
  width: 70%;
  margin-left: 18%;
}
.item-text-box-section-question {
  display: flex;
  width: 93%;
  height: 4em;
}
.item-text-box-section-question h4 {
  font-size: 16px;
}
/* css-footer */
.list-footer {
  display: block;
  width:100%;
}
.list-footer .list-card-footer {
  width:100%;
}
.list-footer .item-footer {
  padding:10px;
}
 }
 