
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Be Vietnam Pro';
}
html {
   height: 100%;
}
body {
   width: 100%;
   min-height: 100%;
}

/* css-title */
.title {
   align-items: center; 
   justify-content: center;
   text-align: center; 
   color:#00174D;
   margin-top: 4%;
}
.title h2{
   color:#00174D;
   font-size: 2.8em;
   padding: 0.8em 0;
}

/* css-section */
.section {
   margin-top: 10%;
}

/* css-section-header */
header {
   background-image: url("./img/Banner\ 1.png");
   background-size: 100% 100%;
   max-width: 100%;
   height: 850px;
   overflow: hidden;
}

/* css-header */
.header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

.bars-header {
   display: none;
}
.logo-header img {
   max-width: 100%;
}
 
.logo-header {
   overflow: hidden;
}
 
 .list-header ul {
   list-style: none;
   padding: 0;
   margin: 0 40px ;
 }
 
 .list-header li {
   display: inline-block;
   margin-right: 10px;
   line-height: 24px;
 }
 
 .list-header a {
   text-decoration: none;
   font-size: 15px;
   text-align: center;
   color: #00174D;
 }

 .list-header a:hover {
   color:#2D61F0;
 }

 .contact-header .button-contact-header{
   background-image: linear-gradient(#FF8D4E, #FF5544);
   color:#ffff;
   width: 191px;
   height:48px;
   border:1px solid #ffff;
   border-radius: 30px;
   text-align: center;
   gap:4px;
   box-shadow: 8px 8px 16px 0 #cccc;
   font-size: 15px;
   cursor: pointer;
 }

 .contact-header .button-contact-header svg {
   vertical-align: middle;
   margin-right: 5px;
   height: 1em;   
   fill:#ffff;
 }

/* css-slide-header */
 
.slider-header {
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
   text-align: center; 
 }

.main-text-slide-header {
   line-height: 62px;
   font-size: 3.2em;
   margin-top: 5%;
}

.main-text-blue-slide-header {
   color:#2D61F0;
   line-height: 110px;
   font-size: 4em;
   font-family: 'Pattaya';
}

 .text-slide-header{
   width:36%;
   color: #00174D;
   font-size: 14px;
   line-height: 24px;
   font-weight: 100;
   text-align: center;
 }
 .vector-section-header img {
   width: 100%;
 }
 
 .button-section-header {
   background-image: linear-gradient(#FF8D4E, #FF5544);
   color:#ffff;
   width: 8.9em;
   height:40px;
   border:1px solid #ffff;
   border-radius: 30px;
   text-align: center;
   gap:4px;
   box-shadow: 8px 8px 16px 0 #cccc;
   font-size: 14px;
   margin-top: 15%;
   cursor: pointer;

 }
 .button-watchvideo {
   border:1px solid #2D61F0;
   color:#2D61F0;
   background-image: linear-gradient(#ffff, #ffff);
   width: 8.5em;
   height:40px;
 }
 
 .button-watchvideo svg {
   vertical-align: middle;
   margin-right: 5px;
   height: 1em;
   fill: #0080FF;
 }

 /* css-section-introduce */

.button-statistical-content-introduce button{
   background-image: linear-gradient(#FF8D4E, #FF5544);
   color:#ffff;
   width: 8.9em;
   height:45px;
   border:1px solid #ffff;
   border-radius: 30px;
   text-align: center;
   gap:4px;
   box-shadow: 8px 8px 16px 0 #0000;
   font-size: 14px;
   cursor: pointer;
}
.section-introduce {
   background-image: url("./img/Union.png");
   background-size: 100% 100%;
   max-width: 100%;
   height: 70em;
   margin-top: -10%;
}
.section2-introduce {
   background-image: url("./img/Noise\ &\ Texture.png");
   background-size: 100% 100%;
   max-width: 100%;
   height:  70em;
   position: relative;
   top: 10%;
   z-index: 1;
}
.title-section-introduce {
   align-items: center; 
   justify-content: center;
   text-align: center; 
   color:#ffff;
}
.title-section-introduce h2{
   color:#ffff;
   font-size: 3em;
   margin-top: -50px;
}
.title-section-introduce p {
   font-size: 14px;
   margin-top: 10px;
}
.content-section-introduce {
   justify-content: center;
   max-width: 100%;
   display: grid;
   grid-template-columns: 45% 45%;
   grid-gap: 10px;
   color:#ffff;
   margin-top: 50px;
}
.img-content{
   max-width: 100%;
   display: grid;
   grid-template-columns: 49% 49%;
   grid-gap: 7px;
}
.img-content img{
   max-width: 100%;
   height: auto;
}
.content-introduce .title-content-introduce {
   margin-bottom: 20px;
}
.content-introduce .title-content-introduce h4{
   font-size: 1.4em;
   line-height: 30px;
   width: 75%;
}
.content-introduce .title-content-introduce p{
   font-size: 0.8em;
   line-height: 20px;
   padding: 10px 0;
   width: 75%;
   opacity: 80%;
}

.item-statistical-content-introduce {
   width: 75%;
   display: flex;
   border-bottom: 0.5px solid #fff;
}
.item-statistical-content-introduce span{
   font-size: 30px;
   line-height: 45px;
   padding: 10px 10px 10px 0;
   width: 30%;
   font-weight:900;

}
.item-statistical-content-introduce p{
   font-size:0.8em;
   line-height: 20px;
   padding: 10px 10px 10px 0;
   width: 70%;
   opacity: 80%;
}
.statistical-content-introduce {
   margin-bottom: 20px;
}

/* css-section-reason */
.section-reason {
   max-width: 100%;
   position: relative;
   top:15%;
   z-index: 2;
}
.img-section-reason img {
   max-width: 100%;
   height: auto;
   margin-top: -10%;
}
.box-reason{
   background-image: url("./img/Vector.svg");
   background-size: 100% 100%; 
   width: 14em;
   height: 14em;
   margin-right: -1%;
   margin-left: -1%;
}
.box-reason svg {
   fill:#0080FF;
   font-size: 2.2em;
   margin-top: 50px;
   margin-bottom: 10px;
   margin-left: 40%;
}
.box-reason p {
   width: 50%;
   margin-left: 55px;
   font-size: 1em;
   text-align: center;
}
.box-reason-top {
   margin-top: -1%;
}
.box-reason-bottom {
   margin-top: 10%;
}
.title-box-reason {
   display:flex;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   margin-top: 9%;
   margin-bottom: -7%;
}

/* css-section-course */
.section-course {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30%;
}

.section-course img {
   max-width: 100%;
}

.section-course .box-section-course {
   display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
}

.box-section-course .item-box-section-course {
   align-items: center; 
   justify-content: center;
   text-align: center; 
}

.box-section-course .item-box-section-course div {
   margin-top: -20px;
}
.section-course .box-section-course .item-box-section-course button {
   background-image: linear-gradient(#2D61F0, #2AACFE);
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   margin-bottom: 5px; 
   border-radius: 25px;
   cursor: pointer;

}

.section-course .box-section-course .item-box-section-course p {
   margin: 0;
   color: #00174D;
   text-align: center;
}
/* css-section-featuredCourse */
.section-featuredCourse{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
}
.section-featuredCourse img {
   max-width: 100%;
   height: auto;
}
.stars svg {
   fill:#ffd93b;
}
.stars-item-box-section-featuredCourse {
   max-width: 100%;
   display:grid;
   grid-template-columns: 28% 72%;
   border-bottom: 0.5px solid #00174D;
   padding-bottom: 10px;
}
.stars-item-box-section-featuredCourse  .stars {
   margin-top: 15px;
}
.stars-item-box-section-featuredCourse div p {
   font-size: 13.5px;
   color: #00174D;

}
.box-section-featuredCourse .item-box-section-featuredCourse p {
   margin-top: 15px;
   color: #00174D;
}
.box-section-featuredCourse .item-box-section-featuredCourse a {
   text-decoration: none;
   opacity: 50%;
   color: #00174D;
}
.box-section-featuredCourse .item-box-section-featuredCourse a:hover {
   opacity: 100%;
   color: #00174D;
}
.item-box-section-featuredCourse {
   padding: 15px 0;
}
.section-featuredCourse .box-section-featuredCourse {
   display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
}
.button-section-featuredCourse button{
   background-image: linear-gradient(#FF8D4E, #FF5544);
   color:#ffff;
   width: 12em;
   height:3em;
   border:1px solid #ffff;
   border-radius: 30px;
   text-align: center;
   gap:4px;
   box-shadow: 8px 8px 16px 0 #cccc;
   font-size: 15px;
   cursor: pointer;
   margin-top: 20px;
}

/* css-banner2-section */
.section-banner2 {
   text-align: center;
   margin-top: 50px;
   position: relative;
   top: 10%;
   z-index: 2;
}
.section-banner2 img {
   max-width: 100%;
}
/* css-section-teacher */

.section-teacher {
   background-image: url("./img/Union\ \(1\).png");
   background-size: 100% 100%;
   max-width: 100%;
   height: 2200px;
   margin-top: -30%;
}
.section-teacher2 {
   background-image: url("./img/Noise\ &\ Texture2.png");
   background-size: 100% 100%;
   max-width: 100%;
   height: 1500px;
   position: relative;
   top: 18%;
   z-index: 1;
}
.img-section-teacher {
   display: flex;
   align-items: center; 
   justify-content: center;
   text-align: center; 
   margin-top: 4em;
}
.button-img-section-teacher {
   margin: 0 2em;
}
.button-img-section-teacher button{
   padding: 10px 15px;
   border: 1px solid #fff;
   border-radius: 30px;
}
.item-img-section-teacher {
   background-color: #EDEDED;
   border-radius: 0.5em ;
   height: auto;
   padding-top: 2em;
   margin: 10px;
}
.item-img-section-teacher img {
   max-width: 90%;
}
.item-img-section-teacher p {
   padding: 1em 0;
   max-width: 100%;
   text-align: center;
   color: #ffff;
   margin-bottom: -23%;
}
.slide-img-section-teacher {
   align-items: center; 
   justify-content: center;
   text-align: center;
   margin-top: 5%;
}
.slide-img-section-teacher svg {
   font-size: 0.8em;
   fill: #ffff;
}

.box-news-section-teacher {
   display: grid;
   grid-template-columns: 35% 35%;
   grid-column-gap: 20px; 
   grid-row-gap: 20px;
   margin-top: 4%;
   align-items: center; 
   justify-content: center;
}
.item-box-news-section-teacher {
   display: grid;
   grid-template-columns: 60% 40%;
   max-width: 100%;
   height: auto;
   background-image: linear-gradient(#FFFFFF3D, #FFFFFF00);
   box-shadow: 6px 6px 30px 0 #0000001F;
   border: 0.5px solid #ffff;
   color: #fff;
   border-radius: 20px;
   padding: 23px;
}
.item-box-news-section-teacher .text-item-box-news-section-teacher {
   display: block;
}
.text-item-box-news-section-teacher  button {
   background-color: #F1FF4E;
   color: #00174D;
   box-shadow: 6px 6px 28px 0 #F1FF4E8F;
   border: 0;
   border-radius: 20px;
   width: 8em;
   height: 2.3em;
   font-size: 0.8em;
   margin-bottom: 10px;
}
.text-item-box-news-section-teacher h4 {
   font-size: 1em;
   width: 90%;
   font-weight: 800;
   line-height: 25px;
   padding: 6px 0;
}
.text-item-box-news-section-teacher p {
   font-size: 0.8em;
   width: 90%;
   opacity: 80%;
   font-weight: 400;
   line-height: 20px;
}
.img-item-box-news-section-teacher img {
   max-width: 100%;
}
.detail-item-box-news-section-teacher  {
   padding-top: 20px;
}
.detail-item-box-news-section-teacher a {
   text-decoration: none;
   color: #ffff;
   font-size: 0.9em;
}
.detail-item-box-news-section-teacher svg {
   fill:#ffff;
   padding-top: 3px;
}
.button-section-teacher button{
   background-image: linear-gradient(#FF8D4E, #FF5544);
   color:#ffff;
   width: 10em;
   height:3em;
   border:1px solid #ffff;
   border-radius: 30px;
   text-align: center;
   gap:4px;
   box-shadow: 8px 8px 16px 0 #0000001F;
   font-size: 15px;
   cursor: pointer;
   margin-top: 20px;

}
.button-section-teacher {
   align-items: center; 
   justify-content: center;
   text-align: center;
   margin-top: 4%;
}
/* css-section-student */
.section-student {
   width: 100%;
}
.box-section-student {
   display: flex;
   align-items: center; 
   justify-content: center;
}
.item-box-section-student {
   width: 35%;
}
.item-box-section-student img{
   max-width: 100%;
}
.item2-box-section-student {
   background-image: url("./img/Objects.svg");
   background-size: 100% 100%;
   width: 55%;
   height: 30em;
}
.assess-item2-box-section-student {
   width: 80%;
   height: 19em;
   padding: 2em;
   position: relative;
   top: 16%;
   left: 16%;
   background-color: #ffff;
   align-items: center; 
   justify-content: center;
   text-align: center;
   box-shadow: 8px 8px 16px 0 #0000001F;
   border-radius: 7px;
}
.assess-item2-box-section-student h4 {
   color: #1A1A1A;
   padding-bottom: 0.6em;
}
.assess-item2-box-section-student p {
   color: #808080;
   font-size: 13.5px;
   line-height: 20px;
   padding: 0.5em;
}
.assess-item2-box-section-student .text-item2-box-section-student {
   font-size: 14px;
   line-height: 24px;
   color: #1A1A1A;
   opacity: 80%;
}

/* css-section-center */
.section-center {
   width: 100%;
   margin-top: 5%;
}
.section-center .box-section-center {
   display: flex;
   align-items: center; 
   justify-content: center;
}
.section-center .item-box-section-center p{
   color: #1A1A1A;
   opacity: 80%;
   width: 100%;
   text-align: justify;
   line-height: 20px;
   font-size: 0.8em;
}
.item-box-section-center {
   width: 40%;
   margin-right: 1.5em;
}
.img-box-section-center img {
   max-width: 95%;
}
.opacity-item2-box-section-center {
   background-image: linear-gradient(to top, #FFFFFF,#FFFFFF00);  
   height: 250px;
   width: 100%;
   margin-top: -17%;
   position: relative;
   z-index: 1;
}
.link-item-box-section-center a {
   color: #00174D;
   text-decoration: none;
   font-size: 15px;
   position: relative;
   z-index: 2;
}
/* css-section-question */
.section-question {
   max-width: 100%;
}
.box-section-question {
   display: flex;
   align-items: center; 
   justify-content: center;
}
.img-box-section-question img {
   max-width: 100%;
}
.item-box-section-question {
   display: block;
   width: 70%;
   margin-bottom: 18%;
}
.item-blue-box-section-question {
   width: 92%;
   height: 12em;
   background-image: linear-gradient(#2D61F0,#2AACFE);  
   border-radius: 7px;
   color: #ffff;
   padding: 1em 0;
}
.item-text-blue-box-section-question {
   display: flex;
   align-items: center; 
   justify-content: center;
}

.item-text-blue-box-section-question span {
   font-size: 29px;
   line-height: 40px;
   padding: 10px 10px 10px 0;
   width: 7%;
   font-weight:900;
}

.item-text-blue-box-section-question h4 {
   line-height: 30px;
   font-size: 18px;
   margin-left: 2em;
   width: 65%;
}
.item-text-blue-box-section-question img {
   max-width: 100%;
   margin-left: 2em ;
}

.text-item-blue-box-section-question p {
   line-height: 24px;
   font-size: 13.5px;
   width: 74%;
   margin-left: 20%;
}
.item-text-box-section-question {
   display: flex;
   width: 92%;
   height: 4em;
   border-bottom: 0.5px solid #E6E6E6;
   color: #00174D;
   align-items: center; 
   justify-content: center;
   padding: 1em 0;
   margin-top: 1em;

}
.item-text-box-section-question span {
   font-size: 29px;
   line-height: 40px;
   padding: 10px 10px 10px 0;
   width: 7%;
   font-weight:900;
}

.item-text-box-section-question h4 {
   line-height: 30px;
   font-size: 18px;
   margin-left: 2em;
   width: 65%;
   font-weight: 100;
}
.item-text-box-section-question img {
   max-width: 100%;
   margin-left: 2em ;
}
.item-text-box-section-question p {
   line-height: 24px;
   font-size: 13.5px;
   width: 70%;
   margin-left: 22%;
}

/* css-footer */

footer {
   background-image: url("./img/Union3.png");
   background-size: 100% 100%;
   position: sticky;
   top: 100%;
   text-align: center;
   color: #ffff;
   height: 45em;
   margin-top: -10%;
}
.background-footer {
   background-image: url("./img/Noise\ &\ Texture3.png");
   background-size: 100% 100%;
   height: 35em;
   position: relative;
   top:30%;
}
.logo-footer img {
   max-width: 100%;
}
.text-footer {
   width: 100%;
}
.text-footer p {
padding: 1em 27%;
line-height: 24px;
font-size: 13.5px;
}
.box-footer {
   display: grid;
   grid-template-columns: 22% 22% 22%;
   grid-column-gap: 2em; 
   grid-row-gap: 2em; 
   align-items: center; 
   justify-content: center;
   padding-bottom: 2em;
   border-bottom: 1px solid #FFFFFF1A;
}
.box-footer .item-box-footer h4{
   padding: 0.8em;
   font-size: 14px;
}
.box-footer .item-box-footer p{
   font-size: 13px;
   line-height: 24px;
   padding: 0 2em;
}
 
.list-footer ul {
   list-style: none;
   padding: 0.5em 0;
   width: 72%;
   border-bottom: 1px solid #FFFFFF1A;
 }
 
 .list-footer li {
   display: inline-block;
   line-height: 24px;
   padding: 1em;
 }
 
 .list-footer a {
   text-decoration: none;
   font-size: 13px;
   text-align: center;
   color: #ffff;
 }

 .list-footer a:hover {
   color:#00174D;
 }
